.nav-link:hover{
    color: #7ED957 !important;
}

/* #primeraParte {
    width: 90%;
} */

.card-icon {
    height: 150px;
}

.navbarPropia img{
    width: 150px;
    height: 70px;
}

.hero-image{
    max-width: 70%;
    height: auto;
}